[submodule "blue-penguin-dark"]
	path = blue-penguin-dark
	url = https://github.com/tcarwash/blue-penguin-dark.git
[submodule "themes/blue-penguin-dark"]
	path = themes/blue-penguin-dark
	url = https://github.com/tcarwash/blue-penguin-dark.git
