{% extends 'base.html' %}
{%- block head %}
    <!-- HTML Metadata tags -->
    <meta name="description" content="{{ article.description }}" />
    <meta name="keywords" content="{% for tag in article.tags %}{{ tag }},{% endfor %}" />
    <link rel="canonical" href="{{ CANONICALURL }}/{{ article.url }}" />
    <!-- OG Metadata tags -->
    <meta property="og:title" content="{{ article.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ article.description }}" />
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
    <meta property="og:image" content="{{ SITEURL }}/{{ article.url.split('/')[:- 1]|join('/') }}/{{ article.image }}" />
    {% for tag in article.tags %}
    <meta property="og:article:tag" content="{{ tag }}" />
    {% endfor %}
    {{ super() -}}
{% endblock -%}
{% block content %}
  <header>
    <div class="title">
      <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
    </div>
    <div class="meta">
      <time class="published" datetime="{{ article.date|strftime('%Y-%m-%d') }}">{{ article.date|strftime('%b %-d, %Y') }}</time>
      <a href="/about" class="author"><span class="name">{{ article.author }}</span><img src="{{ SITEURL }}/theme/images/avatar.jpg" alt="" /></a>
    </div>
  </header>

  {{ article.content }}
  <footer>
    <ul class="stats">
      {% for tag in article.tags %}
        <li>
          <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </footer>
  {% if article.share_post and article.status != 'draft' %}
    <section>
      <p id="post-share-links">
        Share this on:
        <a href="{{ article.share_post.bluesky }}" title="Share on Bluesky" class="icon brands fa-html5" target="_blank"><span class="label">Bluesky</span></a>
        <a href="{{ article.share_post.mastodon }}" title="Share on Mastodon" class="icon brands fa-mastodon" target="_blank"><span class="label">Mastodon</span></a>
        <a href="{{ article.share_post.facebook }}" title="Share on Facebook" class="icon brands fa-facebook" target="_blank"><span class="label">Facebook</span></a>
        <a href="{{ article.share_post.linkedin }}" title="Share on LinkedIn" class="icon brands fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a>
        <a href="{{ article.share_post.reddit }}" title="Share via Reddit" class="icon brands fa-reddit" target="_blank"><span class="label">Reddit</span></a>
      </p>
    </section>
  {% endif %}
{% endblock %}
