{% extends "base.html" %}
{%- block head %}
    <!-- HTML Metadata tags -->
    <link rel="canonical" href="{{ CANONICALURL }}/categories" /> 
    <meta name="description" content="Categories of article on the Justin Cooksey Codes webiste" />
    <meta name="keywords" content="code, categories, Justin Cooksey" />
{{ super() -}}
{% endblock -%}
{% block title %}{{ SITENAME }} - Categories{% endblock %}

{% block content %}
    <h1>Categories on {{ SITENAME }}</h1>
    <ul>
    {% for category, articles in categories|sort %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})</li>
    {% endfor %}
    </ul>
{% endblock %}
