{% extends 'base.html' %}
{%- block head %}
    <!-- HTML Metadata, tag template -->
    <link rel="canonical" href="{{ CANONICALURL }}/{{ page_name }}" /> 
    <meta name="description" content="Articles on Justin Cooksey Codes regarding{{tag}}" />
    <meta name="keywords" content="{{tag}}" />
{{ super() -}}
{% endblock -%}
{% block title %}
  {{ SITENAME }} - Articles tagged - {{ tag }}
{% endblock %}
{% block content %}
  <h1>Articles tagged - {{ tag }}</h1>
  {% import 'macros.html' as macros %}
  {{ macros.article_list(articles_page) }}
{% endblock %}
